.add-worker {
  width: 300px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid orange; */
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 40px;
}

.add-worker > h3 {
  color: #1b2431;
  font-weight: 400;
  margin-bottom: 20px;

  text-align: center;
}
.add-worker__form__group {
  position: relative;
  margin: 10px 0;
}
.add-worker__form__group > h5 {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 400;
  color: #1b2431;
}
.add-worker__form__group > span {
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: #c42012;
  font-size: 0.8rem;
}

.add-worker__container__form__input {
  height: 30px;
  margin-bottom: 20px;
  width: 98%;
  border: none;
  border-bottom: 1px solid var(--light-color);
  outline: none;
}

.add-worker__container > p {
  margin-top: 25px;
  font-size: 12px;
  text-align: center;
}

.add-worker__addButton {
  background: #c42012;
  width: 100%;
  height: 40px;
  font-size: 0.9rem;
  margin-top: 10px;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}
.add-worker__form__group__radio {
  display: inline-block;
  font-size: 0.9rem;
  margin: 0 5px;
}
.second-radio-input {
  margin-left: 20px;
}
.radio-inputs {
  margin-top: 20px;
}
@media (min-width: 480px) {
  .add-worker {
    /* background-color: green; */
  }
}

@media (min-width: 768px) {
  .add-worker {
    /* background-color: blue; */
  }
}

@media (min-width: 1024px) {
  .add-worker {
    /* background-color: purple; */
  }
}

@media (min-width: 1280px) {
  .add-worker {
    /* background-color: orange; */
  }
}
