.menu-item {
  width: 300px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px 0 20px;
}
.menu-item > img {
  align-self: center;
  margin-top: 10px;
  height: 90px;
  width: 90px;
}
.icon_bouton {
  display: flex;
  justify-content: space-evenly;

  width: 120px;
  /* height: 50px; */
  background: #c42012;
  padding: 10px 10px;
  font-size: 0.9rem;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
}

.icon__Food {
  color: white;
  font-size: 1.1rem;
}
.menu-item__edit-group input {
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  margin: 10px;
  font-size: 0.9rem;
  height: 30px;
  padding: 5px;
  width: 100%;
}
.menu-item__edit-group h5 {
  width: 40%;
  margin: 0 10px;
  font-weight: 400;
  text-transform: uppercase;
}
.menu-item__edit-group p {
  font-weight: 400;
  overflow-wrap: break-word;
  text-transform: capitalize;
  color: #c42012;
  font-size: 1rem;
}
.input-file {
  padding: 10px;
}
.menu-item__buttons {
  margin-top: 30px;
  display: flex;
  /* border: 1px solid purple; */
  justify-content: space-between;
}

.menu-item__edit-group {
  display: flex;
  width: 100%;
  margin: 10px 0;
  position: relative;
  align-items: center;
}
.menu-item__edit-group > span {
  position: absolute;
  right: 10px;
  bottom: 0;
  color: #c42012;
  font-size: 0.8rem;
}

@media (min-width: 480px) {
  .menu-item {
    width: 400px;
  }
}

@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
