.client-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 60px;

  background-color: var(--bg-light);
}

.client-section__info {
  margin: 30px 0 20px;
  display: flex;
  justify-content: space-between;
  width: 300px;
  border-bottom: 1px solid #020a15;
  align-items: center;
}
.client-section__info > h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.3rem;
  flex: 1;
}
.client-section__info__image {
  flex: 1;
}
.client-section__info__image > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  /* margin: 0 10px; */
}
@media (min-width: 480px) {
  .client-section__info {
    width: 400px;
    border-bottom: 1px solid #020a15;
  }
}

@media (min-width: 768px) {
  .client-section__info {
    width: 600px;
  }
}

@media (min-width: 1024px) {
  .client-section {
    /* background-color: purple; */
  }
}

@media (min-width: 1280px) {
  .client-section {
    /* background-color: orange; */
  }
}
