.addowner {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid orange; */
  padding: 40px;
}

.addowner > h3 {
  color: #1b2431;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: center;
}
.addowner__form__group {
  position: relative;
}
.addowner__form__group > h5 {
  margin-bottom: 5px;
  font-weight: 400;
  color: #1b2431;
}
.addowner__form__group > span {
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: #c42012;
  font-size: 0.8rem;
}

.addowner__container__form__input {
  height: 30px;
  margin-bottom: 20px;
  width: 98%;
  border: none;
  outline: none;
}
.valid__input {
  border-bottom: 1px solid #1b2431;
  background-color: white;
}
.error__input {
  border-bottom: 1px solid #c42012;
}

.addowner__container > p {
  margin-top: 25px;
  font-size: 12px;
  text-align: center;
}

.addowner__addownerButton {
  background: #c42012;
  width: 100%;
  height: 40px;
  font-size: 0.9rem;
  border: none;
  margin-top: 40px;
  color: white;
  outline: none;
  cursor: pointer;
}

/* Spinner */
.spinner {
  font-size: 1rem;
  color: white;
  animation: rotation 0.5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (min-width: 480px) {
  .addowner {
    /* background-color: green; */
  }
}

@media (min-width: 768px) {
  .addowner {
    /* background-color: blue; */
  }
}

@media (min-width: 1024px) {
  .addowner {
    /* background-color: purple; */
  }
}

@media (min-width: 1280px) {
  .addowner {
    /* background-color: orange; */
  }
}
