.addrestau {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
  margin-bottom: 10px;
}
.logo-preview {
  height: 50px;
  width: 50px;
}

.addrestau > h3 {
  color: #1b2431;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
  line-height: 1.1rem;
}

.addrestau__form__group {
  position: relative;
  margin-bottom: 20px;
}
.addrestau__form__group > h5 {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 400;
  color: #1b2431;
}
.addrestau__form__group > span {
  position: absolute;
  right: 10px;
  bottom: 0;
  color: #c42012;
  font-size: 0.8rem;
}
.img-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addrestau__container__form__input {
  height: 30px;
  margin-bottom: 20px;
  width: 98%;
  border: none;
  outline: none;
}
.valid__input {
  border-bottom: 1px solid #1b2431;
  background-color: white;
}
.error__input {
  border-bottom: 1px solid #c42012;
}

.addrestau__container > p {
  margin-top: 25px;
  font-size: 12px;
  text-align: center;
}

.addrestau__addrestauButton {
  text-transform: uppercase;
  background: #c42012;
  width: 100%;
  height: 40px;
  font-size: 0.9rem;
  border: none;
  margin-top: 10px;
  color: white;
  outline: none;
  cursor: pointer;
}

/* Spinner */
.spinner {
  font-size: 1rem;
  color: white;
  animation: rotation 0.5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (min-width: 480px) {
  .addrestau {
    width: 400px;
    padding: 30px 50px 30px;
  }
}

@media (min-width: 768px) {
  .addrestau {
    /* background-color: blue; */
  }
}

@media (min-width: 1024px) {
  .addrestau {
    /* background-color: purple; */
  }
}

@media (min-width: 1280px) {
  .addrestau {
    /* background-color: orange; */
  }
}
