.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  min-width: 320px;
  background-color: white;

  margin-bottom: 50px;
}
.order > h2 {
  margin-bottom: 20px;
  color: var(--primary-color);
  font-weight: 500;
  font-weight: 400;
}
.order__item {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 1px dotted #48b9a0;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}
.order__item__head {
  display: flex;
}
.order__item__head > p {
  flex: 1;
  /* text-transform: capitalize; */
  text-transform: uppercase;
}

.order__item__info {
  flex: 1;

  display: flex;
  justify-content: space-between;
}
.order__item__info > p {
}

.order__item__foot {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.request__msg--valid {
  color: var(--valid-color);
  font-size: 0.9rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.request__msg--rejected {
  color: var(--primary-color);
  font-size: 0.9rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.request__msg--waiting {
  color: var(--primary-color);
  font-size: 0.9rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.order__item__total {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-transform: uppercase;
  color: white;
  background-color: #48b9a0;
}
.client-menu__nav__back {
  background: var(--primary-color);
  padding: 10px;
  border: 2px solid var(--primary-color);
  font-size: 0.9rem;

  color: white;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}
.req-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.order__req__but {
  color: white;
  outline: none;
  border: none;
  padding: 10px 15px;
}
.order__req__but--red {
  background-color: var(--primary-color);
}
.order__req__but--green {
  background-color: var(--secondary-color);
}
.order__req__but-quantity {
  padding: 10px 15px;
  font-weight: 500;
  border: none;
  outline: none;

  color: white;
  background-color: var(--primary-color);
}

.order__item__foot__result {
  font-size: 0.8rem;
}
@media (min-width: 480px) {
  .order {
    width: 400px;
  }
}

@media (min-width: 768px) {
  .order {
    width: 700px;
  }
}
