.admin {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 60px;
}

@media (min-width: 480px) {
  .admin {
    /* background-color: green; */
  }
}

@media (min-width: 768px) {
  .admin {
    /* background-color: blue; */
  }
}

@media (min-width: 1024px) {
  .admin {
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: purple; */
  }
}

@media (min-width: 1280px) {
  .admin {
    /* background-color: orange; */
  }
}
