.ownerlist {
  margin-top: 20px;
  width: 100%;
  padding: 5px;
  /* border: 1px solid orange; */
}
.ownerlist > h3,
.ownerlist > h5 {
  color: #1b2431;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: center;
}
.ownerlist__item {
  /* border: 1px solid blue; */
  border-bottom: 1px solid #1b24318c;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.ownerlist__item > h5 {
  color: #1b2431;
  font-weight: 400;
}
.ownerlist__item > span {
  text-transform: capitalize;
}
.owner__btn {
  border: none;
  outline: none;
  padding: 10px 20px;
  background-color: #c42012;
  color: white;
  cursor: pointer;
}

@media (min-width: 480px) {
  .ownerlist {
    /* background-color: green; */
  }
}

@media (min-width: 768px) {
  .ownerlist {
    /* background-color: blue; */
  }
}

@media (min-width: 1024px) {
  .ownerlist {
    width: 50%;
    /* background-color: purple; */
  }
}

@media (min-width: 1280px) {
  .ownerlist {
    /* background-color: orange; */
  }
}
