.client-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  margin: 10px;
  padding: 0 10px;
  width: 300px;
  transition: 0.5s;
  background-color: white;
}

.client-menu-item__button {
  background: #c42012;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  height: 35px;
  width: 35px;
  font-size: 1.3rem;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
}
.client-menu-item__footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
}
.client-menu-item__buttons {
  width: 130px;
  display: flex;
  font-size: 1.2rem;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #c42012; */
}
.client-menu-item__buttons > span {
  font-size: 1rem;
}

.client-menu-item__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid green; */
  width: 100%;
  margin: 10px 0;
  display: flex;
  width: 100%;
  text-transform: capitalize;
  font-size: 1.1rem;
}
.client-menu-item__price {
  /* border: 2px solid yellow; */
  color: black;
  font-size: 1rem;
}
.client-menu-item__info {
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 1rem;
  width: 150px;
}
.client-menu-item__info p:first-child {
  color: #c42012;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.client-menu-item__group > img {
  width: 120px;
  height: 80px;
}
.client-menu-item__desc {
  display: inline-block;
  width: 100%;
  overflow-wrap: break-word;
}

.client-menu-item__comment {
  width: 100%;
  padding: 10px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100px; */
}

.client-menu-item__comment > textarea {
  margin: 5px;
  outline: none;
  padding: 5px;
  border: 1px solid var(--light-color);
}
.comment__button {
  background-color: rgb(219, 219, 219);
  border: none;
  color: black;
  cursor: pointer;
  outline: none;
  padding: 10px 0;
}
.comment__button:disabled {
  background-color: var(--bg-light);
  color: gray;
}

.client-menu-item {
  /* background-color: green; */
}

@media (min-width: 768px) {
  .client-menu-item {
    /* background-color: blue; */
  }
}

@media (min-width: 1024px) {
  .client-menu-item {
    /* background-color: purple; */
  }
}

@media (min-width: 1280px) {
  .client-menu-item {
    /* background-color: orange; */
  }
}
