.table-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;

  width: 100%;
}
.table-list > h4 {
  color: var(--primary-color);
  font-weight: 400;
  margin: 20px 0;
}

@media (min-width: 480px) {
  .table-list {
    /* background-color: green; */
  }
}

@media (min-width: 768px) {
  .table-list {
    /* background-color: blue; */
  }
}

@media (min-width: 1024px) {
  .table-list {
    /* background-color: purple; */
  }
}

@media (min-width: 1280px) {
  .table-list {
    /* background-color: orange; */
  }
}
